.col {
  .footer-items {
    margin-top: 40px;
    padding-left: 40px;
    font-family: $roboto-font;
    color: $acentos-color;
    p{
      font-size: 25px;
      font-weight: $roboto-weight-regular;
    }
    .footer-elementos{
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a{
        font-family: $roboto-font;
        color: $acentos-color;
      }
    }
  }
}