.col.footer{
  margin-top: 40px;
  border-top: $primary-color 4px solid;
  .footer-centro{
    .mudatec_footer{
      margin-top: 40px;
      padding-left: 40px;
      font-size: 25px;
      font-weight: $roboto-weight-regular;
      color: $acentos-color;
    }
    .footer-items {
      padding-left: 40px;
      font-family: $roboto-font;
      color: $acentos-color;
      p:last-of-type{
        font-size: 20px;
      }
      .footer-elementos{
        width: 90%;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        a{
          font-family: $roboto-font;
          color: $acentos-color;
        }
      }
      .footer_redes_sociales {
        // height: 150px;
        margin-bottom: 20px;
        
        .red_social {
          width: 15%;
          .fab{
            font-size: 35px;
          }
          a {
            margin-left: 10px;
            text-decoration: none;
            color: $acentos-color;
          }
        }
      }
    }
  }
}

