.col {
  padding: 0;
  #carouselExampleIndicators {
    .carousel-inner {
      .carousel-item {
        height: 700px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


.titulo {
  margin-top: 250px;
  margin-bottom: 200px;
  h1{
    font-family: $roboto-font;
    font-weight: 600;
    font-size: 2rem;
    color: $acentos-color;
    width: 60%;
  }
  .mudate {
    margin: 10px;
    margin-left: 68px;
    padding: 12px 48px 12px 48px;
    width: 154px;
    height: 43px;
    color: white;
    background-color: $primary-color;
    font-family: $roboto-font;
    border-radius: 8px;
    border: none;
  }
}
.navbar {
  position: absolute;
  // margin: 20px;
  padding: 30px;
  z-index: 1;
  top: -30px;
  display: flex;
  flex: row;
  justify-content: space-between;
  
  a {
    text-decoration: none;
    color: $acentos-color;
    font-size: 14px;
    font-family: $roboto-font;
    font-weight: $roboto-weight-superbold;
    }
    .nav-der {
      .nav-der-botones{
        margin-bottom: 3px;
          margin: 10px;
          font-size: 11px;
          font-weight: $roboto-weight-bold;
          color: $acentos-color;
      }
      .dropdown {
        .dropdown-menu{
          min-width: 1rem;
          width: 5rem;
          background-color:$acentos-color;
          opacity: 0.6;
          margin-top: 0 !important;
          // position: relative;
          // top : 25px;
          // left : 110px;
          li{
            text-align: center;
            a {
              font-weight: $roboto-weight-regular;
              color: white;
              font-size: 11px;
            }
          } 
        }
      }
    }
}