.navbar {
  padding: 30px;
  
  a {
    text-decoration: none;
    color: $acentos-color;
    font-size: 14px;
    font-family: $roboto-font;
    font-weight: $roboto-weight-superbold;
    }
    .nav-der {
      .dropdown {
        a{
          margin-bottom: 3px;
          margin: 10px;
          font-size: 11px;
          font-weight: $roboto-weight-bold;
          color: $acentos-color;
        }

      }
    }
}