// mixings

// Header
@media only screen and (min-width: 1200px) {
  .navbars a{
    font-size: 30px;
  }
  .titulo {
    left: 10%;
    h1{
      font-size: 3rem;
      width: 50%;
    }
    .mudate {
      margin: 0px;
      margin-left :0px;
      width: 300px;
      height: 60px;
      font-size: 25px;
    }
  }
  .nav-der{
    width: 30% !important;

  }
  #carouselExampleIndicators {
    .carousel-indicators{
      li {
        height: 15px;
        width: 150px;
      }
    }
  }
}

// IniciarSesionUsuario
@media only screen and (min-width: 1200px){
    .col_header{
        .navbars{
            padding: 0px;
            left: 0px;
            margin: auto;
            width: 60%;
            position: relative;
            margin-top: 100px;
            max-width: 750px;
            a{
                font-size: 22px;
            }
        }
        .iniciar_sesion{
            width: 60%;
            height: 60%;
            margin: 20px auto auto auto;
            p:last-of-type{
                width: 60%;
                margin: auto;
                text-align: center;
            }
            .inputs_sesion{
                width: 60%;
                border-radius: 4px;
            }
            .botones_sesion{
                width: 60%;
                justify-content: space-between !important;
                button {
                    font-size: 14px;
                }
            }
        }
    }
}