// mixings

// Header
@media only screen and (min-width: 1200px) {
  .navbars a{
    font-size: 30px;
  }
  .titulo {
    left: 10%;
    h1{
      font-size: 3rem;
      width: 50%;
    }
    .mudate {
      margin: 0px;
      margin-left :0px;
      width: 300px;
      height: 60px;
      font-size: 25px;
    }
  }
  .nav-der{
    width: 30% !important;

  }
  #carouselExampleIndicators {
    .carousel-indicators{
      li {
        height: 15px;
        width: 150px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .col.footer{
    .footer-centro{
      width: 70%;
      margin: auto;
      text-align: center;
      .footer-items{
        margin: auto;
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
        .footer-elementos{
          text-align: center;
          width: 50%;
          margin: 0px auto 20px auto;
          a{
          }
        }
        .footer_redes_sociales{
          width: 40%;
          margin:auto;
        }
      }
    }
  }
}
