// mixings

// Header
@media only screen and (min-width: 1200px) {
  .navbars a{
    font-size: 30px;
  }
  .titulo {
    left: 10%;
    h1{
      font-size: 3rem;
      width: 50%;
    }
    .mudate {
      margin: 0px;
      margin-left :0px;
      width: 300px;
      height: 60px;
      font-size: 25px;
    }
  }
  .nav-der{
    width: 30% !important;

  }
  #carouselExampleIndicators {
    .carousel-indicators{
      li {
        height: 15px;
        width: 150px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .col.footer{
    .footer-centro{
      width: 70%;
      margin: auto;
      text-align: center;
      .footer-items{
        margin: auto;
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
        .footer-elementos{
          text-align: center;
          width: 50%;
          margin: 0px auto 20px auto;
          a{
          }
        }
        .footer_redes_sociales{
          width: 40%;
          margin:auto;
        }
      }
      }
    }
  }

// RegistroUsuario - IniciarSesionUsuario
@media only screen and (min-width: 1200px){
    .col_header{
        .navbars{
            padding: 0px;
            left: 0px;
            margin: auto;
            width: 60%;
            position: relative;
            margin-top: 100px;
            max-width: 750px;
            a{
                font-size: 22px;
            }
        }
        .iniciar_sesion{
            width: 60%;
            height: 60%;
            margin: 20px auto auto auto;
            p:last-of-type{
                width: 60%;
                margin: auto;
                text-align: center;
            }
            .inputs_sesion{
                width: 50%;
                border-radius: 4px;
            }
            .botones_sesion{
                width: 60%;
                justify-content: space-between !important;
                button {
                    font-size: 14px;
                }
            }
        }
    }
}

// IniciarSesionUsuario
@media only screen and (max-width: 1200px){
  .col_header {
    .iniciar_sesion.nuevo{
      p.bienvenido_iniciar.nuevo{
        margin-left: 0px;
      }
      .inputs_ini{
        .f-icons{
          left: 91%;
        }
      }
    }
  }
}
