.col_header{
  .navbars.nuevo_registro{
    a:hover{
      color:$secondary-color;
      border-bottom: solid 1px $secondary-color;
    }
  }
  .iniciar_sesion{
    p:last-of-type{
      a:hover{
        color:$secondary-color;
      }
    }
    .inputs_sesion.nuevo_registro{
      border-color: $secondary-color;
    }
  }
}