.col_header {
  .navbars.mudanza_nuevo{
    a:hover{
      color: $secondary-color;
      border-bottom: solid 1px $secondary-color;
    }
  }
  .iniciar_sesion.mudanza_nuevo {
    .inputs_ini{
      .inputs_sesion{
        border-color: $secondary-color;
      }
      .f-icons{
        color: $secondary-color;
      }
    }
  }
}