.card1 {
   border: 4px solid $primary-color;
   box-sizing: border-box;
   background-color: rgb(255, 255, 255);
   border-radius: 24px;
   width: 300px;
   height: 180px;
   margin-top: -30px;
}

.img-topcover{
   background: none;
   width: auto;
   height: 100px;
   
}

.checked{
   color:orange;
   padding: 18 bottom;
 }


.img-holder{
   overflow: hidden; 
   margin-top: -100px;
}

 .avatar{
   width: 100px;
   height: 100px;
   overflow: hidden;
   border-radius: 50px;
   border: 2px solid #ffff;
 }

.p-center{ 
   width: 250px;
   height: auto;
   padding: 11px;
   text-align: center;
}


.div-boton{

.boton-mudateb{
   color: white;
   border: none;
   width: 150px;
   height: 40px;
   background: $primary-color;
   border-radius: 8px;

}

}







