.descubre-como{
  p{
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 24px;
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: 22px;
    width: 80%;
  }
  img{
    width: 90%;
    margin: auto;
    border-radius: 4px;
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: $acentos-color;
    border: solid 2px $secondary-color;
    height: 20px;
    width: 40%;
    max-width: 180px;
    margin: -10px auto 20px auto;
    border-radius: 6px;
  }
}

.pasos{

  font-family: $roboto-font;
  font-weight: lighter;
  font-size: 22px;
  padding-top: 30px;
  padding-left: 35px;
  
}

.pasos-registro{

  margin-top: 35px;
  padding-right: 50px;
  padding-left: 30px;
  
  
.web-registro{

  margin-right: 300px;
  
}

  padding: 20px;
  
}

.web-cotizacion{
  margin-right: 30px;
  padding: 20px;
  
}

  i{
    display: flex;
    color: #FF8754;
    justify-content: center;
  
  }
  
  img{
    width: 40%;
    border-radius: 20px;
  }
  






