.descubre-como{
  p{
    margin-top: 30px;
    padding-left: 24px;
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: 22px;
    width: 80%;
  }
  img{
    width: 90%;
    margin: auto;
    border-radius: 4px;
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: $acentos-color;
    border: solid 2px $secondary-color;
    height: 20px;
    width: 40%;
    max-width: 180px;
    margin: -10px auto 20px auto;
    border-radius: 6px;
  }
}

.pasos{

  font-family: $roboto-font;
  font-weight: lighter;
  font-size: 22px;
  padding-top: 20px;
  padding-left: 25px;

}

.pasos-registro{

  i{
    display: flex;
    color: #FF8754;
    justify-content: center;

  
  }

  img{
    width: 30%;
    margin: auto;
    border-radius: 20px;
  }
    
  p{
    display: flex;
    margin-top: -5px;
    margin-left: 30px;
    padding-left: 24px;
    padding-top: -20px ;
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: 22px;
    width: 80%;
    justify-content: center;
    
  }
  
}

.web{
  display: flex;
  justify-content: start;
}

