.col_header {
  .iniciar_sesion.nuevo{
    height: 450px;
    p.bienvenido_iniciar.nuevo{
      font-size: 25px;
      margin-bottom: 50px;
    }
    .inputs_ini{
      width: 60%;
      margin: auto;
      .inputs_sesion.nuevo{
        width: 100%;
        margin:auto;
      }
      .f-icons {
        position: relative;
        left: 95%;
        font-size: 20px;
        top: -33px;
        color: $primary-color
      }
      .botones_sesion.nuevo{
        margin-top: 100px;
      }
    }
  }
}