.col_perfil{
  .perfil_header.info {
    .fas {
      position: absolute;
      top: 47px;
      left: 2%;
      color: $primary-color;
    }
  }
  .perfil_main.info{
    .seccion-perfil{
      padding-left: 0px;
      a{
        padding-left: 15px;
        font-weight: 400;
      }
      input{
        padding: 5px;
        padding-left: 10px;
        margin: 0px;
        margin-left: 5px;
        width: 60%;
        border: none;
        background-color:$perfil-background-color ;
        font-size: 15px;
        font-weight: 100;
        margin-top: 7px;
        &:hover{
          border: 1px solid $primary-color;
          border-radius: 6px;
        }
      }
    }
  }
  .boton-info-guardar{
    position: absolute;
    top: 105%;
    left: 80%;
    a{
      border: none;
      border: 2px solid $primary-color;
      background-color: $primary-color;
      border-radius: 6px;
      padding: 10px;
      color: white;
    }
  }
}