.col_header{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("../assets/usuario_sesion_background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  .navbars{
    a{
      font-family:$roboto-font;
      color:white;
      opacity: 0.5;
      font-weight: 300;
      // font-weight: lighter;
      // opacity: 0.8;
      &:hover{
        color:$primary-color;
        opacity: 1;
        font-weight: 400;
      }
    }
  }
  .iniciar_sesion{
    height: 700px;
    background-color: #f5f5f5;
    opacity: 0.9;
    margin-top: 100px;
    width: 80%;
    margin: 100px auto auto auto;
    border-radius: 15px;
    max-width: 781px;
    input, text{
    font-size: 16px;
    color: black;
    }
    p{
      margin-bottom: 0px;
      font-family:$roboto-font;
      color: $acentos-color;
    }
    p:first-of-type{
      font-weight: 900;
      margin-top: 40px;
      text-align: center;
      font-size: 25px;
    }
    p:last-of-type{
      margin-left: 50px ;
      font-size: 12px;
      transition: 0.5s;
      cursor: pointer;
      a {
        font-weight: 900;
        color: black;
        transition: 0.5s;
        &:hover{
          color:$primary-color;
          -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3);
        }  
      }
      &:hover{
        color:black;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.0);
      }
    }
    p strong{
      color: black;
    }
    .inputs_sesion{
      width: 80%;
      height: 44.07px;
      margin: auto;
      padding-left: 15px;
      border-radius: 8px;
      border: 2px solid $primary-color;
    }
    .inputs_sesion::placeholder {
      font-weight: 500;
      font-size: 12px;
      // padding-left: 10px;
      font-family: $roboto-font;
      color: $acentos-color;
    }
    .botones_sesion{
      width: 100%;
      margin: auto;
      button{
        width: 30%;
        padding: 10px;
        border-radius: 6px;
        color: white;
        font-size: 12px;
        border: none;
        transition: 0.3s;
        overflow: hidden;
        &:hover{
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
      button:first-child{
        background-color: $delete-color;
      }
      button:last-child{
        background-color: $accept-color;
      }
    }
  }
}
