.col_header{
  padding: 0;
  margin: 0;
  height: 500px;
  background-image: url("../assets/usuario_sesion_background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; 
}
.col_iniciar {
  .iniciar_sesion{
    background-color: #f5f5f5;
    opacity: 0.9;
    margin-top: 100px;
    width: 80%;
    margin: 100px auto auto auto;
    border-radius: 10px;
  }
}