.col_header {
  .iniciar_sesion.nuevo{
    height: 450px;
    p.bienvenido_iniciar.nuevo{
      font-size: 25px;
      margin-bottom: 50px;
    }
    .inputs_ini{
      width: 80%;
      margin: auto;
      .inputs_sesion.nuevo{
        width: 100%;
        margin:auto;

      }
      .botones_sesion.nuevo{
        margin-top: 100px;
      }
    }
  }
}