.col_header {
  .iniciar_sesion.nuevo{
    height: 450px;

    p.bienvenido_iniciar.nuevo{
      font-size: 25px;
      margin-bottom: 50px;
    }
    .inputs_sesion.nuevo{
      margin: 20px auto;
    }
    .botones_sesion.nuevo{
      margin-top: 100px;
    }
  }
}