.perfil_main{
  .post_main{
    border: 2px solid $primary-color;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;
    .mudan{
      p{
        color: $acentos-color;
        &:first-of-type{
          font-weight: 400;
          font-size: 18px;
        }
        &:last-of-type{
          font-weight: lighter;
          margin: 0px;
        }
      }
    }
    .add_fecha{
      .add_muebles{
        width: 40%;

        i{
          color: $accept-color;
          font-size: 30px;
          transition: 0.1s;
          &:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
        a{
          font-size: 18px;
          width: 80%;
          color: $acentos-color;
          font-weight: 600;
        }
      }
      .fechas{
        p{
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 600;
          color: $acentos-color;
          text-align: center;
          &:last-of-type{
            margin-bottom: 0px;
            font-size: 16px;
            border: 2px solid $primary-color;
            border-radius: 4px;
          }
        }
      }
    }
    .post-box{
      margin-top: 10px;
      border-radius: 8px;
      background-color: $post-background-color;
      padding: 15px;
      .single-post{
        background-color: $single-post-background-color;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 10px;
        background-color: $single-post-background-color;
        .item{
          width: 60%;
          p{
            color: $acentos-color;
          }
          input{
            text-transform: uppercase;
            height: 25px;
            width: 70%;
            border-radius: 4px;
            margin-right: 5px;
            padding: 10px;
            border: none;
            // border: 2px solid $primary-color;
            &:hover{
              border: 2px solid $primary-color;
            }
          }
        }
        .tamano_cantidad{
          .cantidad{
            width: 40%;
            p{
              width: 35%;
              color: $acentos-color;
            }
            input{
              width: 20%;
              height: 25px;
              padding: 10px;
              margin-left: 8px;
              border-radius: 4px;
              border: none;
              // border: 2px solid $primary-color; 
              // background-color: $single-post-background-color;
              &:hover{
                border: 2px solid $primary-color; 
              }
            }
            i{
              font-size: 24px;
              width: 20%;
              margin-left: 5px;
              color: $delete-color;
              transition: 0.1s;
              &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    .direcciones-desplazar{
      .dir{
        margin-top: 20px;
        background-color: $post-background-color;
        height: 50px;
        border-radius: 8px;
        // transition: 0.5s;
        p{
          // margin: auto;
          color: $acentos-color;
          margin: 0px;
          font-size: 20px;
          margin-left: 20px;
        }
        i{
          // margin: auto;
          margin-right: 20px;
          font-size: 25px;
          color: $primary-color;
        }
        &:hover{
          background-color: rgb(241, 240, 240);
          cursor: pointer;
          p{
            color: $primary-color;
          }          
        }
      }
      .direcciones{
        .direccion-texto{
          margin-top: 10px;
          padding: 15px;        
          p{
            color: $acentos-color;
            margin: 0px;
            strong{
              color: $primary-color;
            }
            &:first-of-type{
              font-size: 20px;
              font-weight: 800;
            }
            &:last-of-type{
              a{
                color: blue;
              }
            }
          }
        }
        .direcciones_inputs{
          padding: 15px;
          border-radius: 8px;
          background-color: $post-background-color;
          .direccion-input{
            margin-bottom: 10px;
            p{
              margin: 0px 0 8px 0;
              color: $acentos-color;
            }
            input{
              text-transform: uppercase;
              padding: 10px;
              height: 35px;
              border-radius: 4px;
              width: 100%;
              border: none;
              &:hover{
                border: 2px solid $primary-color;
              }
            }
            textarea{
              width: 100%;
              border: 2px solid $primary-color;
              border-radius: 4px;
            }
            .calle{
              input{
                margin-bottom: 10px;
              }
            }
            .numeros{
              .num input{
                width: 30%;
              }
              .num.interior{
                input{
                  width: 50%;
                }
              }
            }
          }
        }
      }
      .crear-editar{
        margin-top: 15px;
      }
  }
  .crear-editar{
    margin-top: 20px;
  }
  .a-editar{
    a{
      font-size: 15px;
      color: $acentos-color;
      font-weight: 600;
    }
    i{
      font-size: 20px;
      color: $primary-color;
    }
    .a-post-izq{
      margin-left: 12px;
    }
    .a-post-der{
      margin-right: 12px;
    }
  }
  .a-editar.a-first{
    margin-top: 15px;
  }
  .fechas{
    margin: 40px;
  }
  }
}