.col_header{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("../assets/usuario_sesion_background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  .navbars{
    a{
      font-family:$roboto-font;
      color:white;
      font-weight: normal;
    }
  }
  .iniciar_sesion{
    height: 700px;
    background-color: #f5f5f5;
    opacity: 0.9;
    margin-top: 100px;
    width: 80%;
    margin: 100px auto auto auto;
    border-radius: 15px;
    max-width: 781px;
    p{
      margin-bottom: 0px;
      font-family:$roboto-font;
      color: $acentos-color;
    }
    p:first-of-type{
      font-weight: 900;
      margin-top: 40px;
      text-align: center;
      font-size: 25px;
    }
    p:last-of-type{
      margin-left: 40px ;
      font-size: 12px;
    }
    p strong{
      color: black;
    }
      .inputs_sesion{
        width: 80%;
        height: 44.07px;
        margin: auto;
        border-radius: 8px;
        border: 2px solid $primary-color;
      }
      .inputs_sesion::placeholder {
        font-weight: 500;
        font-size: 12px;
        padding-left: 20px;
        font-family: $roboto-font;
        color: $acentos-color;
      }
      .botones_sesion{
        width: 100%;
        margin: auto;
        button{
          width: 30%;
          padding: 10px;
          border-radius: 6px;
          color: white;
          font-size: 12px;
          border: none
        }
        button:first-child{
          background-color: $delete-color;
        }
        button:last-child{
          background-color: $accept-color;
        }
      }
  }
}
