//Google Fonts

//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');


$primary-color: #FF8754;
$secondary-color: #16B5E5;
$acentos-color: #585757;
$tipografia-color:  #8B8B8B;
$delete-color: #E53F3F;
$accept-color: #04AE85; 
$roboto-font:'Roboto', sans-serif;
$roboto-weight-light: 300;
$roboto-weight-regular: 500;
$roboto-weight-bold: 700;
$roboto-weight-superbold: 900;
$perfil-background-color: #f7f7f7e1;
$perfil-backgrounddiv-color: #f8f7f6;
$post-background-color: #e5e8ecca;
$single-post-background-color: #F6F6F6;