@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.test {
  background-color: red;
}

.test1 {
  background-image: url("paper.gif");
}

.col {
  padding: 0;
}

.col #carouselExampleIndicators .carousel-inner .carousel-item {
  height: 812px;
}

.col #carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 5%;
}

.titulo h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #585757;
  width: 60%;
}

.titulo .mudate {
  margin: 10px;
  margin-left: 68px;
  padding: 12px 48px 12px 48px;
  width: 154px;
  height: 43px;
  color: white;
  background-color: #FF8754;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: none;
}

.navbars {
  position: absolute;
  margin: 10px;
  padding: 30px;
  z-index: 1;
  width: 100%;
  right: -10px;
}

.navbars a {
  text-decoration: none;
  color: #585757;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.navbars .nav-der {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.navbars .nav-der .nav-der-botones {
  padding: 0px !important;
  font-size: 16px;
  font-weight: 700;
  color: #585757;
}

.navbars .nav-der .dropdown .dropdown-menu {
  min-width: 1rem;
  width: 5rem;
  background-color: #585757;
  opacity: 0.8;
  margin-top: 0 !important;
}

.navbars .nav-der .dropdown .dropdown-menu li {
  text-align: center;
}

.navbars .nav-der .dropdown .dropdown-menu li a {
  font-weight: 500;
  color: white;
  font-size: 11px;
}

.col.footer .mudatec_footer {
  margin-top: 40px;
  padding-left: 40px;
  font-size: 25px;
  font-weight: 500;
  color: #585757;
}

.col.footer .footer-items {
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  color: #585757;
}

.col.footer .footer-items p:last-of-type {
  font-size: 20px;
}

.col.footer .footer-items .footer-elementos {
  width: 90%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 30px;
}

.col.footer .footer-items .footer-elementos a {
  font-family: "Roboto", sans-serif;
  color: #585757;
}

.col.footer .footer-items .footer_redes_sociales {
  height: 150px;
  margin-bottom: 40px;
}

.col.footer .footer-items .footer_redes_sociales .red_social {
  width: 15%;
}

.col.footer .footer-items .footer_redes_sociales .red_social .fab {
  font-size: 35px;
}

.col.footer .footer-items .footer_redes_sociales .red_social a {
  margin-left: 10px;
  text-decoration: none;
  color: #585757;
}

@media only screen and (min-width: 1200px) {
  .footer-items {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-items .footer-elementos {
    width: 50%;
  }
  .footer-items .footer_redes_sociales {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */