{% extends "perfil.html" %}


{% block conf_prof %}
<div class="perfil_header info">
  <i class="fas fa-chevron-left"></i>
  <p>Informacion de la cuenta</p>
</div>
<div class="perfil_info">
  <p>Manten tu cuenta al día</p>
</div>
{% endblock conf_prof %}

{% block info-main %}
<div class="perfil_main info">
  <div class="seccion-perfil d-flex flex-column">
    <a href="#">Nombre</a>
    <input placeholder="Alejandra"></input>
  </div>
  <div class="seccion-perfil d-flex flex-column">
    <a href="#">Apellido Paterno</a>
    <input placeholder="Hernandez"></input>
  </div>
  <div class="seccion-perfil d-flex flex-column">
    <a href="#">Apellido Materno</a>
    <input placeholder="Páez"></input>
  </div>
  <div class="seccion-perfil d-flex flex-column">
    <a href="#">Email</a>
    <input placeholder="alepaez@gmail.com"></input>
  </div>
  <div class="seccion-perfil d-flex flex-column">
    <a href="#">Contraseña</a>
    <input placeholder="*********"></input>
  </div>
</div>
<div class="boton-info-guardar">
  <a href="#">Guardar</a>
</div>
{% endblock info-main %}