{% extends "perfil.html" %}

{% block conf_prof %}
<div class="perfil_header">
  <p>Información Post</p>
</div>
<div class="perfil_info">
  <p>Crea, edita o elimina tu post</p>
</div>
{% endblock conf_prof %}


{% block info-main %}
<div class="perfil_main">
  <div class="post_main">
    <div class="mudan">
      <p>¿Qué moverás?</p>
      <p>Mudanza #1</p>
    </div>
    <div class="add_fecha d-flex justify-content-between align-items-end">
      <div class="add_muebles d-flex align-items-center justify-content-between">
        <i class="fas fa-plus-square"></i>
        <!-- <i class="fas fa-plus"></i> -->
        <a href="#">Agregar Muebles</a>
      </div>
      <div class="fechas">
        <p>Fecha de la mudanza</p>
        <p>18/03/2021</p>
      </div>
    </div>
    <div class="post-box">
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
      <div class="single-post">
        <div class="item d-flex justify-content-between">
          <p>Mueble</p>
          <input type="text">
        </div>
        <div class="tamano_cantidad d-flex">
          <div class="item tamano d-flex justify-content-between">
            <p>Tamaño</p>
            <input type="text">
          </div>
          <div class="cantidad d-flex justify-content-around">
            <p>Cantidad</p>
            <input type="text">
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="a-editar a-first d-flex align-items-center flex-row-reverse">
      <i class="fas fa-chevron-right"></i>
      <a href="#" class="a-post-der">Crear/Editar</a>
    </div>
    <div class="direcciones-desplazar">
      <dir class="dir dir-inicial d-flex justify-content-between align-items-center">
        <p>Direccion inicial</p>
        <i class="fas fa-chevron-down"></i>
      </dir>
      <div class="direcciones ini d-block">
        <div class="direccion-texto">
          <p>Agregar/Editar la dirección donde <strong>EMPIEZA</strong> tu mudanza</p>
          <p>O elige la dirección que ya tienes en tu perfil <a href="#">aquí</a></p>
        </div>
        <div class="direcciones_inputs">
          <div class="direccion-input">
            <p>Nombre</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Apellido Paterno</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Apellido Materno</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Colonia</p>
            <input type="text" class="col_calle_input">
          </div>
          <div class="direccion-input">
            <div class="calle">
              <p>Calle</p>
              <input class="col_calle_input" type="text">
            </div>
            <div class="numeros d-flex">
              <div class="num exterior">
                <p>Num.Ext</p>
                <input type="text">
              </div>
              <div class="num interior">
                <p>Num.Int</p>
                <input type="text">
              </div>
            </div>
          </div>
          <div class="direccion-input">
            <p>Código postal</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Referencias</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="dir dir-final d-flex justify-content-between align-items-center">
        <p>Direccion final</p>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="direcciones fin d-block">
        <div class="direccion-texto">
          <p>Agregar/Editar la dirección donde <strong>FINALIZA</strong> tu mudanza</p>
        </div>
        <div class="direcciones_inputs">
          <div class="direccion-input">
            <p>Nombre</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Apellido Paterno</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Apellido Materno</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Colonia</p>
            <input type="text" class="col_calle_input">
          </div>
          <div class="direccion-input">
            <div class="calle">
              <p>Calle</p>
              <input class="col_calle_input" type="text">
            </div>
            <div class="numeros d-flex">
              <div class="num exterior">
                <p>Num.Ext</p>
                <input type="text">
              </div>
              <div class="num interior">
                <p>Num.Int</p>
                <input type="text">
              </div>
            </div>
          </div>
          <div class="direccion-input">
            <p>Código postal</p>
            <input type="text">
          </div>
          <div class="direccion-input">
            <p>Referencias</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="crear-editar d-flex flex-row justify-content-between">
      <div class="a-editar d-flex align-items-center">
        <i class="fas fa-chevron-left"></i>
        <a href="#" class="a-post-izq">Regresar</a>
      </div>
      <div class="a-editar d-flex align-items-center">
        <a href="#" class="a-post-der">Crear/Editar</a>
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
    <!-- <div class="fechas">
      <input type="date" id="picker" class="form-control">
    </div> -->
  </div>
</div>
{% endblock info-main %}