{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Registro</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col col_header">
        {% block header %}
        <div class="navbar navbars nuevo_registro d-flex flex-row justify-content-space-between align-items-baseline">
          <a href="#">Mudatec</a>
          <a href="#">Regresar</a>
        </div>
        {% endblock header %}
        <div class="iniciar_sesion d-flex flex-column justify-content-around">
          <p>¡Bienvenido crea tu cuenta!</p>
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="NOMBRE EMPRESA">
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="EMAIL">
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="TELEFONO">
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="RFC">
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="CONTRASEÑA">
          <input type="text" class="inputs_sesion nuevo_registro" placeholder="VERIFICAR CONTRASEÑA">
          <p>*YA TIENES UNA CUENTA <a>INICIA SESIÓN</a></p>
          <div class="botones_sesion d-flex justify-content-around">
            <button>Regresar</button>
            <button>Crear Cuenta</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>