{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
  <title>Base</title>
  {% endblock title %}
</head>

<body>
  <div class="container-fluid">
    <!-- Header -->
    <div class="row">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          {% include "header.html" %}
          <div class="titulo">
            <h1>Te conectamos con las mejores mudanzas de la ciudad...</h1>
            <button class="mudate">Mudate!</button>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'assets/mudanza_dog.jpg' %}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p> -->
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/mudanza_dog1.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'assets/mudanza_dog2.jpg' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <!-- <span class="sr-only">Previous</span> -->
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <!-- <span class="sr-only">Next</span> -->
          </a>
        </div>
      </div>
    </div>


    <!-- RUBEN -->
    <!-- pasos -->
    <div class="row">
      <div class="col">
        <div class="descubre-como d-flex flex-column justify-content-center">
          <p>Eres empresa de mudanza, participa con nosotros...</p>
          <a href="#">Descubre como</a>
          <img src="{% static 'assets/mudanza-descubre-como.jpg' %}" alt="">
        </div>
        <div class="pasos">
          <p class="d-xl-none">Mudatec es asi de sencillo!...</p>
          <p class="d-none d-xl-block">Descubre que nuestra pagina es muy fácil de usar..</p>
          <div class="pasos-general d-flex flex-column justify-content-center">
            <div
              class="pasos-registro d-flex flex-column align-items-center justify-content-center flex-xl-row align-items-xl-end justify-content-xl-around">
              <i class="fas fa-pen-square fa-3x d-xl-none"></i>
              <p class="d-xl-none">Registrate</p>
              <img class="d-none d-xl-block" src="{% static 'assets/easyReg.jpg' %}" alt="img-registro">
              <p class="web-registro d-none d-xl-block ">¡ Registrarte, es fácil seguro y rapido! </p>
            </div>
            <div
              class="pasos-registro d-flex flex-column align-items-center justify-content-center flex-xl-row-reverse align-items-xl-end justify-content-xl-around ">
              <i class="fas fa-laptop fa-3x d-xl-none"></i>
              <p class="d-xl-none">LLena el formulario</p>
              <img class="d-none d-xl-block" src="{% static 'assets/formOnline.jpg' %}" alt="formulario">
              <p class="web-formulario d-none d-xl-block">Dejanos saber que vas a mudar llenando el formulario para que las empresas de
                mudanza sepan tus necesidades</p>
            </div>
            <div class="pasos-registro d-flex flex-column align-items-center justify-content-center flex-xl-row align-items-xl-end justify-content-xl-around">
              <i class="fas fa-envelope-open-text fa-3x d-xl-none"></i>
              <p class="d-xl-none">Recibe tu cotización</p>
              <img class="d-none d-xl-block" src="{% static 'assets/price.jpg' %}" alt="Precio cotización">
              <p class="web-cotizacion d-none d-xl-block">¡Elige la mejor cotización ofrecida por las empresas de mudanza!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ANDRE -->
  <!-- reviews -->
  <div class="row">
    <div class="col">
      <p class="d-none d-lg-block">estos opinan nuestros usuarios</p>
      <div class="reviews">
        <div class="review">
          <img src="" alt="">
          <p>mudatec me salvo la vida</p>
          <div class="estrellas">
            estrellas
          </div>
        </div>
        <!-- review escondida en movil -->
        <div class="review d-none">
          <img src="" alt="">
          <p>mudatec me salvo la vida</p>
          <div class="estrellas">
            estrellas
          </div>
        </div>
      </div>
      <!-- boton se esconde en web -->
      <button class="d-lg-none">Mudate!</button>
    </div>
  </div>


  <!-- footer -->
  <div class="row">
    <div class="col">
      <p>2021 Mudatec, Inc. Todos los derechos reservados</p>
    </div>
    <div class="">
      <a href="#">Terminos y condiciones</a>
      <a href="#">Mapa del sitio</a>
      <a href="#">Contacto</a>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/41bdedddc7.js" crossorigin="anonymous"></script>
</body>

</html>