{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %}
    <title>Base</title>
    {% endblock title %}
</head>

<body>
    <!-- {% static 'assets/logo.svg' %} -->
    <div class="container-fluid">

        <!-- ALE -->
        <!-- <div class="row">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="navbar">
              <a href="#">Mudatec</a>
              <div class="nav-der">
                <button href="#">Registrate</button>
                <a href="#">Inicia Sesion</a>
              </div>
            </div>
            <div class="titulo">
              <h1>Te conectamos con las mejores mudanzas de la ciudad...</h1>
              <button class="mudate">Mudate!</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

        <!-- RUBEN -->
        <!-- pasos -->
        <div class="row">
            <div class="">
                <div class="descubre-como">
                    <p>eres empresa de mudanza, participa con nosotros...</p>
                    <a href="#">Descubre como</a>
                    <img src="" alt="">
                </div>
                <div class="pasos">
                    <p>Mudatrec es asi de sencillo</p>
                    <div class="pasos-nombre d-flex-row">
                        <div class="paso">
                            <img src="" alt="" class="iconos">
                            <p>Registrate</p>
                        </div>
                        <div class="paso">
                            <img src="" alt="" class="iconos">
                            <p>LLena el formulario</p>
                        </div>
                        <div class="paso">
                            <img src="" alt="" class="iconos">
                            <p>Recibe tu cotizacion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ANDRE -->
        <!-- reviews -->
        <div class="row">
            <div class="col-sm-12">
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/profile-3.jpg" class="avatar"
                                                    alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-none d-lg-block col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/persona2.jpg" class="avatar" alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/profile-3.jpg" class="avatar"
                                                    alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>


                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/persona2.jpg" class="avatar" alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-none d-lg-block col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/persona2.jpg" class="avatar" alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-4">
                                        <div class="img-topcover">
                                            <!--Div para ajustar imagen -->
                                        </div>
                                        <div
                                            class="single-box d-flex flex-column align-items-center justify-content-center card1 ">
                                            <div class="d-flex justify-content-center img-holder">
                                                <img src="static/images/persona2.jpg" class="avatar" alt=" First slide">
                                            </div>
                                            <div class=" d-flex flex-column justify-content-center p-center">
                                                <p>Mudatec me ayudo a conectar con la mejor mudanza</p>
                                            </div>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>
                    <a href="#inam" class="carousel-control-prev" data-slide="prev">
                        <span class="d-none carousel-control-prev-icon"></span>
                    </a>
                    <a href="#inam" class="carousel-control-next" data-slide="next">
                        <span class="d-none carousel-control-next-icon"></span>
                    </a>

                </div>

            </div>

        </div>

    </div>


    <!-- review escondida en movil 
                 boton se esconde en web -->

    <div class="d-flex justify-content-center p-4 div-boton">
        <button class="boton-mudateb d-lg-none">Mudate!</button>
    </div>
    <!-- footer -->
    <div class="row">
        <div class="col">
            <p>2021 Mudatec, Inc. Todos los derechos reservados</p>
        </div>
        <div class="">
            <a href="#">Terminos y condiciones</a>
            <a href="#">Mapa del sitio</a>
            <a href="#">Contacto</a>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- scripts bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- scripts bootstrap 4 -->
</body>

</html>