<div class="footer-centro">
  <div class="mudatec_footer">
    <p>2021 Mudatec, Inc. </p>
    <p>Todos los derechos reservados</p>
  </div>
  <div class="footer-items d-xl-flex flex-column">
    <div class="footer-elementos d-flex flex-row justify-content-between">
      <a href="#">Terminos y condiciones</a>
      <a href="#">Sobre nosotros</a>
      <a href="#">Ayuda</a>
      <a href="#">Contacto</a>
    </div>
    <div class="footer_redes_sociales d-flex justify-content-center justify-content-xl-between">
      <div class="red_social">
        <i class="fab fa-twitter"></i>
        <!-- <a href="#">Twitter</a> -->
      </div>
      <div class="red_social">
        <i class="fab fa-instagram"></i>
        <!-- <a href=" #">Instagram</a> -->
      </div>
      <div class="red_social">
        <i class="fab fa-facebook"></i>
        <!-- <a href="#">Facebook</a> -->
      </div>
    </div>
  </div>
</div>