<hr style="height: 2px;background-color:#FF8754; border:none">
<p class="mudatec_footer">2021 Mudatec, Inc. Todos los derechos reservados</p>
<div class="footer-items d-xl-flex flex-row justify-content-">
  <div class="footer-elementos d-flex flex-row justify-content-between flex-lg-column">
    <a href="#">Terminos y condiciones</a>
    <a href="#">Sobre nosotros</a>
    <a href="#">Ayuda</a>
    <a href="#">Contacto</a>

  </div>
  <div class="footer_redes_sociales d-flex flex-column justify-content-between">
    <div class="red_social d-flex align-items-center">
      <i class="fab fa-twitter-square"></i>
      <a href="#">Twitter</a>
    </div>
    <div class="red_social d-flex align-items-center">
      <i class="fab fa-instagram-square"></i>
      <a href="#">Instagram</a>
    </div>
    <div class="red_social d-flex align-items-center">
      <i class="fab fa-facebook-square"></i>
      <a href="#">Facebook</a>
    </div>
  </div>
</div>