<div class="navbar d-flex align-items-center">
  <a href="#">Mudatec</a>
  <div class="nav-der d-flex flex-row">
    <div class="dropdown show">
      <a class="dropdown-toogle nav-der-botones" href="#" type="button" id="dropdownmenu"
        data-toggle="dropdown">Regístrate</a>
      <span class="caret"></span>
      <ul class="dropdown-menu" aria-labelled-by="dropdownmenu">
        <li><a href="#">Empresa</a></li>
        <li><a href="#">Usuario</a></li>
      </ul>
    </div>
    <a class="nav-der-botones" href="#">Inicia Sesión</a>
  </div>
</div>
<div class="titulo">
  <h1>Te conectamos con las mejores mudanzas de la ciudad...</h1>
  <button class="mudate">Mudate!</button>
</div>